[IE conditional]


[groups]

openlayers =
    css/ol_preview.css
    js/vendor/openlayers/ol.css
    js/vendor/ol-helpers/ol-helpers.css
    js/vendor/underscore/underscore.js
    js/vendor/proj4/dist/proj4-src.js
    js/vendor/openlayers/ol-debug.js
    js/vendor/ol-helpers/ol-helpers.js
    js/vendor/ol-helpers/ol-layer-switcher.js
    js/ol_preview.js

geo-resource-styles =
    css/geo-resource-styles.css

geojson =
    js/vendor/leaflet/dist/leaflet.js
    js/vendor/leaflet/dist/leaflet.css
    js/vendor/proj4js/proj4.js
    js/vendor/proj4leaflet/src/proj4leaflet.js
    js/common_map.js
    js/geojson_preview.js
    css/geojson_preview.css

wmts =
    js/vendor/leaflet/dist/leaflet.js
    js/vendor/proj4js/proj4.js
    js/common_map.js
    js/wmts_preview.js

    js/vendor/leaflet/dist/leaflet.css
    css/wmts_preview.css

bootstrap2 =
    js/vendor/bootstrap2/bootstrap.js
    js/vendor/bootstrap2/bootstrap.css

shp =
    js/vendor/leaflet/dist/leaflet.js
    js/vendor/proj4js/proj4.js
    js/vendor/spinjs/spin.js
    js/vendor/leaflet.spin/leaflet.spin.js
    js/vendor/shp2geojson/preview.js
    js/vendor/shp2geojson/preprocess.js
    js/vendor/jszip/jszip.js
    js/vendor/jszip/jszip-utils.js
    js/common_map.js
    js/shp_preview.js

    js/vendor/leaflet/dist/leaflet.css
    css/shp_preview.css
