

[groups]

openlayers2 =
    css/ol_preview.css
    js/vendor/underscore/underscore.js
    js/vendor/openlayers2/OpenLayers.js
    js/vendor/openlayers2/theme/default/style.css
    js/vendor/ol-helpers/EsriGeoJSON.js
    js/vendor/ol-helpers/ol-helpers.js
    js/ol2_preview.js

geo-resource-styles =
    css/geo-resource-styles.css

