[IE conditional]


[groups]

openlayers2 =
    css/ol_preview.css
    js/vendor/underscore/underscore.js
    js/vendor/openlayers2/OpenLayers.js
    js/vendor/openlayers2/theme/default/style.css
    js/vendor/ol-helpers/EsriGeoJSON.js
    js/vendor/ol-helpers/ol-helpers.js
    js/ol2_preview.js

geo-resource-styles =
    css/geo-resource-styles.css

geojson =
    js/vendor/leaflet/dist/leaflet.js
    js/vendor/leaflet/dist/leaflet.css
    js/vendor/proj4js/proj4.js
    js/vendor/proj4leaflet/src/proj4leaflet.js
    js/common_map.js
    js/geojson_preview.js
    css/geojson_preview.css

wmts =
    js/vendor/leaflet/dist/leaflet.js
    js/vendor/proj4js/proj4.js
    js/common_map.js
    js/wmts_preview.js

    js/vendor/leaflet/dist/leaflet.css
    css/wmts_preview.css
