{% extends "dataviewer/base.html" %}

{% block page %}

    {% set map_config = h.get_common_map_config_geoviews() %}
    {% set ol_config = h.get_openlayers_viewer_config() %}
    <div id="data-preview">
        <div id="map-container"
             data-module="olpreview"
             data-module-gapi_key="{{ gapi_key }}"
             data-module-proxy_url="{{ proxy_url }}"
             data-module-proxy_service_url="{{ proxy_service_url }}"
             data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
             data-module-map_config="{{ h.dump_json(map_config) }}"
             data-module-ol_config="{{ h.dump_json(ol_config) }}"
             {% if resource_view_json %} data-module-resource-view = "{{ h.dump_json(resource_view_json) }}" {% endif %}
             {% if basemapsConfig %} data-module-basemaps-config = "{{ h.dump_json(basemapsConfig) }}" {% endif %}
             >
            <h4 class="loading-dialog">
              <div class="loading-spinner"></div>
              <div class="left">{{ _('Loading...') }}</div>
            </h4>
        </div>
        <div class="layerswitcher olControlLayerSwitcher"></div>
    </div>

    {% resource 'ckanext-geoview/openlayers' %}
    {% resource 'vendor/bootstrap' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ h.url_for_static('/css/bootstrap.min.css') }}" type="text/css" media="screen, projection" />
{% endblock %}
