{% extends "dataviewer/base.html" %}

{% block page %}

    {% set map_config = h.get_common_map_config_geoviews() %}
    {% set ol_config = h.get_openlayers_viewer_config() %}
    <div id="data-preview"
         data-module="olpreview"
         data-module-gapi_key="{{ gapi_key or c.resource.gapi_key }}"
         data-module-proxy_url="{{ proxy_url or c.resource.proxy_url }}"
         data-module-proxy_service_url="{{ proxy_service_url or c.resource.proxy_service_url }}"
         data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
         data-module-map_config="{{ h.dump_json(map_config) }}"
         data-module-ol_config="{{ h.dump_json(ol_config) }}"
         {% if resource_view_json %} data-module-resource-view = "{{ h.dump_json(resource_view_json) }}" {% endif %}
         >
        <h4 class="loading-dialog">
          <div class="loading-spinner"></div>
          <div class="left">{{ _('Loading...') }}</div>
        </h4>
    </div>

    {% resource 'ckanext-geoview/openlayers2' %}
    {% resource 'vendor/bootstrap' %}
{% endblock %}
